In [ ]:
import pandas as pd

pizza = pd.read_csv("pizza_v1.csv")
pizza

## Price Rupiah Column

In [ ]:
pizza["price_rupiah"] = pizza["price_rupiah"].str.strip("Rp")
pizza

    company price_rupiah  diameter  ...     size extra_sauce extra_cheese
0         A      235,000      22.0  ...    jumbo         yes          yes
1         A      198,000      20.0  ...    jumbo         yes          yes
2         A      120,000      16.0  ...  reguler         yes          yes
3         A      155,000      14.0  ...  reguler         yes           no
4         A      248,000      18.0  ...    jumbo         yes           no
..      ...          ...       ...  ...      ...         ...          ...
124       E       39,000       8.5  ...    small         yes          yes
125       E       72,000      12.0  ...   medium         yes          yes
126       E       99,000      14.0  ...    large         yes          yes
127       E       44,000       8.5  ...    small         yes           no
128       E       78,000      12.0  ...   medium          no           no

[129 rows x 8 columns]

In [ ]:
pizza["price_rupiah"] = pizza["price_rupiah"].astype(int)

In [ ]:
pizza["price_rupiah"] = pizza["price_rupiah"].str.replace(",", "")
pizza

In [ ]:
pizza["price_rupiah"] = pizza["price_rupiah"].astype(int)
pizza

In [ ]:
pizza = pizza.rename(columns={"price_rupiah":"price_usd"})
pizza

In [ ]:
pizza['price_usd'] = pizza['price_usd'] * 0.00007
pizza

## Topping

In [ ]:
pizza["topping"].unique()

In [ ]:
pizza["topping"] = pizza["topping"].replace("papperoni", "pepperoni")
pizza["topping"].unique()

## Variant

In [ ]:
pizza["variant"].unique()

In [ ]:
pizza["variant"] = pizza["variant"].replace("gournet_greek", "gourmet_greek")
pizza["variant"] = pizza["variant"].replace("spicy tuna", "spicy_tuna")
pizza["variant"].unique()

## Size

In [ ]:
pizza["size"].unique()

In [ ]:
pizza["size"] = pizza["size"].replace("reguler", "regular")
pizza["size"].unique()

In [ ]:
pd.set_option('display.max_rows', None)
pizza[["diameter", "size", "variant"]].sort_values(["variant","diameter"])
#pd.set_option('display.max_rows', 12)
#pizza

In [ ]:
pizza[["company", "size"]].value_counts().sort_values()

## Extra Sauce

In [ ]:
pizza["extra_sauce"].unique()

## Extra Cheese

In [ ]:
pizza["extra_cheese"].unique()

## Final

In [ ]:
pizza